.dropdown{
    position: relative;
    display: inline-block;
}

.dropbtn{
    
    border: 3px solid rgb(4, 32, 3);
    color: black;
    padding: 10px;
    border: none;
    font-size: 16px;
}

.dropdown-content{
    background: linear-gradient(
        to bottom,
        hsla(124, 34%, 72%, 0.626),
        rgba(8, 34, 3, 0.593)
      );
    
    font-weight: bold;
}

.dropdown-content{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 5px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 14px;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-style: double;

}

.dropdown-content a:hover {
    background: linear-gradient(
        to bottom,
        hsla(124, 20%, 28%, 0.808),
        rgba(8, 34, 3, 0.593)
      );
    transition: 400ms;
    font-size: 16px;
}

.dropdown:hover .dropdown-content{
    display: block;
}