form{
    /* display: inline-block;
    justify-content: center;
    background-color: rgb(42, 206, 42);
    width: 60%;
    margin: 25%;
    margin-top: 5%;
    align-items: center;
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
    text-align: center; */
}

form:hover{
    box-shadow: 5px 5px 4px slategray;
    transition: all 0.5s;
    background-color: rgba(42, 206, 42, 0.922);
}

input:focus{
    border-radius: 5px;
    border: none;
}

header{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

input {
    text-align: left;
    color: blue;
}