table{
    width: 100%;
    border-collapse: collapse;
    box-shadow: inset 5px 4px 5px 3px rgba(0, 0, 0, 0.603);
}
th, td {
    border: 1px solid;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
}

tbody tr:nth-child(odd){
    background: linear-gradient(
    to bottom,
    rgba(241, 245, 233, 0.771),
    rgba(23, 58, 10, 0.584)
    );
}

tbody tr:nth-child(even){
    background: linear-gradient(
    to bottom,
    rgba(241, 245, 233, 0.771),
    rgb(226, 228, 231)
    );
    
}

thead {
    
    font-size: larger;
}

td {
    /* background-color: aliceblue; */
    font-style: italic;
}
tfoot{
    /* width: 100%; */
    /* text-align: justify; */
    /* margin-left: 50%; */
    
}

thead th,
tfoot th,
tfoot td {
  background: linear-gradient(
    to bottom,
    rgba(23, 31, 4, 0.378),
    rgba(120, 177, 106, 0.705)
  );
  border: 3px solid rgb(4, 32, 3);
}